<p class="interest_nav">
  <span>
    {%- if include.interest.previous -%}
      <i class="fas fa-angle-left"></i> Previous interest<br />
      <a href="{{ include.interest.previous.url | relative_url }}">
        {{- include.interest.previous.title -}}
      </a>
    {%- endif -%}
  </span>
  <span>
    {%- if include.interest.next -%}
      Next interest <i class="fas fa-angle-right"></i><br />
      <a href="{{ include.interest.next.url | relative_url }}">
        {{- include.interest.next.title -}}
      </a>
    {%- endif -%}
  </span>
</p>
