{%- assign emptyarray = "" | split: "," -%}

{%- assign tags = emptyarray -%}
{%- assign input = include.tags | join: "," | split: "," -%}
{%- for tag in input -%}
  {%- assign tag = tag | strip -%}
  {%- if tag != "" -%}
    {%- assign tags = tags | push: tag -%}
  {%- endif -%}
{%- endfor -%}


{%- assign link = include.link | default: page.dir | absolute_url -%}

{%- if tags.size > 0-%}
  <div class="tags">
    {%- for tag in tags -%}
    {% assign text_and_url_tip = tag | split: '~' %}
      <a
        href='{{ text_and_url_tip[1] }}'
        class="tag"
        data-tooltip='{{ text_url_tip[2] }}'
      >
        {{- text_and_url_tip[0] -}}
      </a>
    {%- endfor -%}
  </div>
{%- endif -%}
